{% extends 'base.html.twig' %}

{% block head %}
<meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Login</title>
  <!-- loader-->
  <link href="{{ asset('admin-assets/css/pace.min.css')}}" rel="stylesheet"/>
  <script src="{{ asset('admin-assets/js/pace.min.js')}}"></script>
  <!--favicon-->
  <link rel="icon" href="admin-assets/images/favicon.ico')}}" type="image/x-icon">
  <!-- Bootstrap core CSS-->
  <link href="{{asset('admin-assets/css/bootstrap.min.css')}}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="{{asset('admin-assets/css/animate.css')}}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{{asset('admin-assets/css/icons.css')}}" rel="stylesheet" type="text/css"/>
  <!-- Custom Style-->
  <link href="{{asset('admin-assets/css/app-style.css')}}" rel="stylesheet"/>
 
{% endblock %}

{% block body %}


<!-- Start wrapper-->
 <div id="wrapper">
 
	<div class="card card-authentication1 mx-auto my-5">
		<div class="card-body">
		 <div class="card-content p-2">
		 	<div class="text-center">
		 		<img src="{{('admin-assets/images/logo-icon.png')}}" alt="logo icon">
		 	</div>
             {% if app.user %}
        <div class="card-title text-uppercase text-center py-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
		  <div class="card-title text-uppercase text-center py-3">Please Sign In</div>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form-group">
			  <label for="exampleInputUsername" class="sr-only">Email</label>
			   <div class="position-relative has-icon-right">
				  <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-shadow" placeholder="Enter Email" autocomplete="email" required >
				  <div class="form-control-position">
					  <i class="icon-user"></i>
				  </div>
			   </div>
			  </div>
    <div class="form-group">
			  <label for="exampleInputPassword" class="sr-only">Password</label>
			   <div class="position-relative has-icon-right">
				  <input type="password" name="password" id="inputPassword" class="form-control input-shadow" placeholder="Enter Password" autocomplete="current-password" required>
				  <div class="form-control-position">
					  <i class="icon-lock"></i>
				  </div>
			   </div>
			  </div>
   

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
     <button type="submit" class="btn btn-light btn-block">Sign In</button>
    
</form>
</div>
</div>
</div>
{% endif %}
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	

	
	</div><!--wrapper-->
     <!-- Bootstrap core JavaScript-->
  <script src="{{asset('admin-assets/js/jquery.min.js')}}"></script>
  <script src="{{asset('admin-assets/js/popper.min.js')}}"></script>
  <script src="{{asset('admin-assets/js/bootstrap.min.js')}}"></script>
	
  <!-- sidebar-menu js -->
  <script src="{{asset('admin-assets/js/sidebar-menu.js')}}"></script>
  
  <!-- Custom scripts -->
<script src="{{asset('admin-assets/js/app-script.js')}}"></script>  
{% endblock %}
