{% extends 'user-base.html.twig' %}

{% block title %}Book Collection | E-Library{% endblock %}

{% block body %}
{% include 'home/header.html.twig' %}
{% include 'home/search_area.html.twig' %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Choose & Borrow</p>
						<h1>Book Collection</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            {% for categorie in categories %}
                            <li data-filter=".{{ categorie.designation }}">{{ categorie.designation }}</li>
                            
                             {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
			{% for livre in livres %}
				<div class="col-lg-4 col-md-6 text-center {{ livre.categorie.designation }}">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{{ path('single_book', {'id': livre.id}) }}"><img src="/images/livres/{{ livre.filename }}" style="width: 300px;height:250px; border-radius:10%;"></a>
						</div>
						<h3>{{ livre.titre }}</h3>
						<p class="product-price"><span>{{ livre.auteur[0].prenom }} {{ livre.auteur[0].nom }}</span> </p>
						<a href="{{path('cart_add',{id: livre.id})}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="row">
				
			</div>
		</div>
	</div>
	<!-- end products -->

	<!-- logo carousel -->
		{% include 'home/sponsors_logo.html.twig' %}
	<!-- end logo carousel -->



  {% include 'home/footer.html.twig' %}
  {% include 'home/copyrights.html.twig' %}
{% endblock %}
