{% extends 'user-base.html.twig' %}

{% block title %}E-Library{% endblock %}

{% block body %}

    <!--PreLoader-->
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
    <!--PreLoader Ends-->
    {% include 'home/header.html.twig' %}
    {% include 'home/search_area.html.twig' %}
    	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Choose & Borrow</p>
							<h1>Welcome to our eLibrary</h1>
							<div class="hero-btns">
								<a href="{{ path('collection') }}" class="bordered-btn">Book Collection</a>
								<a href="{{ path('app_register') }}" class="bordered-btn">Register</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Available</span> Books</h3>
					</div>
				</div>
			</div>

			<div class="row">
			{% for livre in livres %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{{ path('single_book', {'id': livre.id}) }}"><img src="/images/livres/{{ livre.filename }}" style="width: 300px;height:250px; border-radius:10%;"></a>
						</div>
						<h3>{{ livre.titre }}</h3>
						<p class="product-price"><span>{{ livre.auteur[0].prenom }} {{ livre.auteur[0].nom }}</span> {{ livre.prix }} $ </p>
						<a href="{{path('cart_add',{id: livre.id})}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{{ path('collection') }}" class="boxed-btn">Show More</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	<!-- end latest news -->
    {% include 'home/sponsors_logo.html.twig' %}
    {% include 'home/footer.html.twig' %}


    {% include 'home/copyrights.html.twig' %}
{% endblock %}
