{% extends 'base.html.twig' %}

{% block head %}
<meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Register</title>
  <!-- loader-->
  <link href="{{ asset('admin-assets/css/pace.min.css')}}" rel="stylesheet"/>
  <script src="{{ asset('admin-assets/js/pace.min.js')}}"></script>
  <!--favicon-->
  <link rel="icon" href="admin-assets/images/favicon.ico')}}" type="image/x-icon">
  <!-- Bootstrap core CSS-->
  <link href="{{asset('admin-assets/css/bootstrap.min.css')}}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="{{asset('admin-assets/css/animate.css')}}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{{asset('admin-assets/css/icons.css')}}" rel="stylesheet" type="text/css"/>
  <!-- Custom Style-->
  <link href="{{asset('admin-assets/css/app-style.css')}}" rel="stylesheet"/>
 
{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



<!-- Start wrapper-->
 <div id="wrapper">

	<div class="card card-authentication1 mx-auto my-4">
		<div class="card-body">
		 <div class="card-content p-2">
		 	<div class="text-center">
		 		<img src="{{asset('admin-assets/images/logo-icon.png')}}" alt="logo icon">
		 	</div>
		  <div class="card-title text-uppercase text-center py-3">Sign Up</div>
      {{ form_start(registrationForm) }}
      <div class="form-group">
        {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.nom) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.prenom) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </div>
        <div class="form-group">
        {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-light btn-block waves-effect waves-light">Register</button>
    {{ form_end(registrationForm) }}
    </div>
		  </div>
          </div>
        <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	
	
	</div><!--wrapper-->
	
  <!-- Bootstrap core JavaScript-->
  <script src="{{asset('admin-assets/js/jquery.min.js')}}"></script>
  <script src="{{asset('admin-assets/js/popper.min.js')}}"></script>
  <script src="{{asset('admin-assets/js/bootstrap.min.js')}}"></script>
	
  <!-- sidebar-menu js -->
  <script src="{{asset('admin-assets/js/sidebar-menu.js')}}"></script>
  
  <!-- Custom scripts -->
<script src="{{asset('admin-assets/js/app-script.js')}}"></script>  
         
		  
{% endblock %}
