{% extends 'base.html.twig' %}

{% block title %}Editeur index{% endblock %}

{% block body %}
    <h1>Editeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomEditeur</th>
                <th>Pays</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editeur in editeurs %}
            <tr>
                <td>{{ editeur.id }}</td>
                <td>{{ editeur.nomEditeur }}</td>
                <td>{{ editeur.pays }}</td>
                <td>{{ editeur.address }}</td>
                <td>{{ editeur.telephone }}</td>
                <td>
                    <a href="{{ path('editeur_show', {'id': editeur.id}) }}">show</a>
                    <a href="{{ path('editeur_edit', {'id': editeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('editeur_new') }}">Create new</a>
{% endblock %}
