{% extends 'admin-base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <!-- Start wrapper-->
    <div id="wrapper">
        
        {% include 'admin/sidebar.html.twig' %}
        {% include 'admin/header.html.twig' %}

        <div class="clearfix"></div>	
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="col-lg-16">
                        <div class="card">
                        <div class="card-body">
                        <div class="card-title">Information sur l'auteur : </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ auteur.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.nom }}</td>
            </tr>
            <tr>
                <th>Biographie</th>
                <td>{{ auteur.biographie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('auteur_index') }}" class="btn btn-info" >Retour</a>

    <a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('auteur/_delete_form.html.twig') }}
            </div></div></div>
            </div></div></div>
{% endblock %}
