<!DOCTYPE html>
<html>
    <head>
        {% block head %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>{% block title %}{% endblock %}</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{{asset('user-assets/img/favicon2.png')}}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{{asset('user-assets/css/all.min.css')}}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{{asset('user-assets/bootstrap/css/bootstrap.min.css')}}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{{asset('user-assets/css/owl.carousel.css')}}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{{asset('user-assets/css/magnific-popup.css')}}">
	<!-- animate css -->
	<link rel="stylesheet" href="{{asset('user-assets/css/animate.css')}}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{{asset('user-assets/css/meanmenu.min.css')}}">
	<!-- main style -->
	<link rel="stylesheet" href="{{asset('user-assets/css/main.css')}}">
	<!-- responsive -->
	<link rel="stylesheet" href="{{asset('user-assets/css/responsive.css')}}">
  
        {% endblock %}
    </head>
    <body class="bg-theme bg-theme1">
        {% block body %}{% endblock %}

    <!-- jquery -->
	<script src="{{asset('user-assets/js/jquery-1.11.3.min.js')}}"></script>
	<!-- bootstrap -->
	<script src="{{asset('user-assets/bootstrap/js/bootstrap.min.js')}}"></script>
	<!-- count down -->
	<script src="{{asset('user-assets/js/jquery.countdown.js')}}"></script>
	<!-- isotope -->
	<script src="{{asset('user-assets/js/jquery.isotope-3.0.6.min.js')}}"></script>
	<!-- waypoints -->
	<script src="{{asset('user-assets/js/waypoints.js')}}"></script>
	<!-- owl carousel -->
	<script src="{{asset('user-assets/js/owl.carousel.min.js')}}"></script>
	<!-- magnific popup -->
	<script src="{{asset('user-assets/js/jquery.magnific-popup.min.js')}}"></script>
	<!-- mean menu -->
	<script src="{{asset('user-assets/js/jquery.meanmenu.min.js')}}"></script>
	<!-- sticker js -->
	<script src="{{asset('user-assets/js/sticker.js')}}"></script>
	<!-- main js -->
	<script src="{{asset('user-assets/js/main.js')}}"></script>

    </body>
</html>
